* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #494949;
  margin: 10px;
  color: rgb(185, 185, 185);
}

form {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: auto;
  gap: 1rem;
}

input {
  background-color: rgb(200, 204, 200);
  border: #111;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 1.2rem;
  font-family: sans-serif;
}

button {
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e0e9e2;
  color: rgb(43, 43, 43);
  font-size: 1.2rem;
}

#error__result {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.button-floor {
  background-color: #d8d8d8;
  margin: 5px;
  border-radius: 5px;
  font-size: 8px;
  padding: 0.2rem 0.8rem;
  font-size: 18px;
  margin-bottom: 1rem;
}

.button-floor:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
}

.lifts {
  width: 70px;
  height: 100px;
  background-color: #000000;
  color: #000000;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid;
  align-items: center;
  border-radius: 5px;
  content: none;
}

.lifts p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -0%);
}

.floor {
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: #000000; */
  padding: 5px;
  border-bottom: 1px solid black;
}

.liftMotion {
  transition-duration: 2s;
}

.lifts .gate {
  position: absolute;
  height: 100%;
  width: 50%;
  border: 1px solid rgb(0, 225, 255);
  background-color: black;
}

.gateLeft {
  left: 0;
}

.gateRight {
  right: 0;
}

.animateLiftsDoorsOnFloorStop {
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-name: doorSimulation;
}

@keyframes doorSimulation {
  from {
    width: 50%;
  }
  50% {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
